header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    max-height: 15vh;
}
/* 
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
} */

.logo {
    font-size: 24px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #f2f2f2;
}

/* .navbar {
    height: 12vh;
} */

.border-bottom{
    border-bottom: 2px solid #4ec9e5;
}

.navbar {
    min-height: auto;
}

#navbarBasicExample .navbar-start{
    height: 100%;
    margin-left: auto;
    margin-right: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-brand{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero.is-fullheight {
    height: 88vh;
}

.navbar-start a{
    font-weight: 500;
    color: grey;
    display: flex;
}

.navbar-item img {
    max-height: initial;
    aspect-ratio: auto;
}

/* .navbar-item, .navbar-link{
    display: block;
} */

@media screen and (min-width: 1024px){
    .navbar-item, .navbar-link {
        min-width: 7rem;
        text-align: center;
        justify-content: center;
    }
    #navbarBasicExample{
        display: flex;
        position: absolute;
        right: 0;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

}

@media (max-width: 1023px) {
    .navbar {
        height: auto;
        min-height: auto;
    }
    .navbar-burger{
        height: 100%;
        position: absolute;
        right: 0;
    }

    .navbar-burger span {
        height: 2px;
    }

    .navbar-start a {
        justify-content: center;
    }

    .navbar-brand a.navbar-item {
        width: 100%;
        justify-content: center;
    }
}